.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #366376;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a.active {
  font-weight: bold;
  font-size: large;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #366376;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

.bg{
  margin-top: 50px;
}